#
# App
#

APP_NAME="MyOrderApp"
APP_SUPPORT_EMAIL=paul.jones@adeptry.com
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
APP_FRONTEND_URL=http://localhost:3000
APP_BACKEND_URL=http://localhost:4000
APP_CORS_ORIGIN_REG_EXP=(localhost)
APP_HEADER_API_KEY=Api-Key

#
# Administrators
#

ADMIN_FIRST_NAME=Super
ADMIN_LAST_NAME=User
ADMIN_EMAIL=test1@example.com
ADMIN_PASSWORD=123456

#
# AWS S3
#

AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_DEFAULT_BUCKET=

#
# Mailer
#

MAILER_DEFAULTS_FROM=
MAILER_AUTH_API_KEY=
MAILER_AUTH_DOMAIN=

#
# Twilio
#

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

#
# Authentication
#

AUTH_API_KEYS=1,2
AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=60m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d

#
# Google
#

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#
# Apple
#

APPLE_APP_AUDIENCE=[]

#
# Stripe
#

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

#
# Square
#

SQUARE_ENCRYPTION_TOKEN=
SQUARE_OAUTH_CLIENT_ID=
SQUARE_OAUTH_CLIENT_SECRET=
SQUARE_CLIENT_ENVIRONMENT=
SQUARE_WEBHOOK_SIGNATURE_KEY=

#
# MoaSquare
#

SQUARE_TIER_0_APP_FEE_BIG_INT_NUMERATOR=500
SQUARE_TIER_1_APP_FEE_BIG_INT_NUMERATOR=250
SQUARE_TIER_2_APP_FEE_BIG_INT_NUMERATOR=0
SQUARE_TIER_APP_FEE_BIG_INT_DENOMINATOR=10000

STRIPE_PRICE_ID_TIER_2_USD=
STRIPE_PRICE_ID_TIER_2_EUR=
STRIPE_PRICE_ID_TIER_2_GBP=
STRIPE_PRICE_ID_TIER_2_JPY=
STRIPE_PRICE_ID_TIER_2_CAD=
STRIPE_PRICE_ID_TIER_2_AUD=

STRIPE_PRICE_ID_TIER_1_USD=
STRIPE_PRICE_ID_TIER_1_EUR=
STRIPE_PRICE_ID_TIER_1_GBP=
STRIPE_PRICE_ID_TIER_1_JPY=
STRIPE_PRICE_ID_TIER_1_CAD=
STRIPE_PRICE_ID_TIER_1_AUD=

STRIPE_PRICE_ID_TIER_0_USD=
STRIPE_PRICE_ID_TIER_0_EUR=
STRIPE_PRICE_ID_TIER_0_GBP=
STRIPE_PRICE_ID_TIER_0_JPY=
STRIPE_PRICE_ID_TIER_0_CAD=
STRIPE_PRICE_ID_TIER_0_AUD=

#
# Square Test
#

SQUARE_TEST_CODE=
SQUARE_TEST_ACCESS_TOKEN=
SQUARE_TEST_REFRESH_TOKEN=
SQUARE_TEST_EXPIRE_AT=
SQUARE_TEST_ID=
SQUARE_TEST_USE_S3=

#
# Database
#

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SYNCHRONIZE=
DATABASE_MAX_CONNECTIONS=
DATABASE_SSL_ENABLED=
DATABASE_REJECT_UNAUTHORIZED=
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=
DATABASE_LOGGING=